
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Welcome!{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet"
          href="{{ asset('bundles/app/css/style.css') }}">

        {% block stylesheets %}
            <!-- Custom styles for this template -->
            <style>
                /* Space out content a bit */
                body {
                    padding-top: 20px;
                    padding-bottom: 20px;
                }

                /* Everything but the jumbotron gets side spacing for mobile first views */
                .header,
                .marketing,
                .footer {
                    padding-right: 15px;
                    padding-left: 15px;
                }

                /* Custom page header */
                .header {
                    padding-bottom: 20px;
                    border-bottom: 1px solid #e5e5e5;
                }
                /* Make the masthead heading the same height as the navigation */
                .header h3 {
                    margin-top: 0;
                    margin-bottom: 0;
                    line-height: 40px;
                }

                /* Custom page footer */
                .footer {
                    padding-top: 19px;
                    color: #777;
                    border-top: 1px solid #e5e5e5;
                }

                /* Customize container */
                @media (min-width: 768px) {
                    .container {
                        max-width: 730px;
                    }
                }
                .container-narrow > hr {
                    margin: 30px 0;
                }

                /* Main marketing message and sign up button */
                .jumbotron {
                    text-align: center;
                    border-bottom: 1px solid #e5e5e5;
                }
                .jumbotron .btn {
                    padding: 14px 24px;
                    font-size: 21px;
                }

                /* Supporting marketing content */
                .marketing {
                    margin: 40px 0;
                }
                .marketing p + h4 {
                    margin-top: 28px;
                }

                .nav-pills>li+li{
                    display:flex;
                    align-items: center;
                }

                .nav>li.login>a {
                    padding-left: 5px;
                }

                /* Responsive: Portrait tablets and up */
                @media screen and (min-width: 768px) {
                    /* Remove the padding we set earlier */
                    .header,
                    .marketing,
                    .footer {
                        padding-right: 0;
                        padding-left: 0;
                    }
                    /* Space out the masthead */
                    .header {
                        margin-bottom: 30px;
                    }
                    /* Remove the bottom border on the jumbotron for visual effect */
                    .jumbotron {
                        border-bottom: 0;
                    }
                }
            </style>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        <div class="container">
            {% block menu %}
            <div class="header clearfix">
                <nav>
                    <ul class="nav nav-pills pull-right">
                        <li role="presentation" class="{% if app.request.get('_route') == 'homepage' %}active{% endif %}"><a href="{{ path('homepage') }}">Accueil</a></li>
                        <li role="presentation" class="{% if app.request.get('_route') == 'about' %}active{% endif %}"><a href="{{ path('about') }}">À propos</a></li>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li role=presentation" class="login">
                                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                                <a href="{{ path('fos_user_security_logout') }}">
                                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                            </a>
                            </li>
                        {% else %}
                            <li><a href="{{ path('fos_user_security_login') }}">Se connecter</a></li>
                        {% endif %}
                    </ul>
                </nav>
                <h3 class="text-muted">On manque quoi à midi&nbsp;?</h3>
            </div>
            {% endblock %}

            {% block body %}
            {% endblock %}

            {% block fos_user_content %}
            {% endblock %}

            {% block footer %}
            <footer class="footer">
                <p>&copy; 2016 On Mange Quoi À Midi</p>
            </footer>
            {% endblock %}

        </div> <!-- /container -->
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('bundles/app/js/build.js') }}"></script>
    </body>
</html>
