{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">Nombre d'utilisateurs</div>
                    <div class="panel-body">
                        {{ stats.number_of_users }}
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">Nombre de restaurants</div>
                    <div class="panel-body">
                        {{ stats.number_of_places }}
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">Nombre de menus</div>
                    <div class="panel-body">
                        {{ stats.number_of_menus }}
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">Nombre de plats</div>
                    <div class="panel-body">
                        {{ stats.number_of_meals }}
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">Nombre de commandes cette semaine</div>
                    <div class="panel-body">
                        <div id="linechart" style="min-width: 100%; height: 300px; margin: 0 auto"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">Dernier restaurant ajouté</div>
                    <div class="panel-body">
                        {{ stats.latest_created_place.name }}
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">Dernier restaurant modifié</div>
                    <div class="panel-body">
                        {{ stats.latest_modified_place.name }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="//code.highcharts.com/4.1.8/highcharts.js"></script>
    <script src="//code.highcharts.com/4.1.8/modules/exporting.js"></script>
    <script type="text/javascript">
        {{ chart(orders_from_last_week_chart) }}
    </script>
{% endblock %}
