{% extends 'base.html.twig' %}

{% block body %}
    <h1>Place edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" class="btn btn-primary"/>
        <a href="{{ path('place_index') }}" class="btn btn-default"><i class="glyphicon glyphicon-th-list"></i> Back to the list</a>
    {{ form_end(edit_form) }}

    {{ form_start(delete_form) }}
        <input value="Delete" type="submit" class="btn btn-danger">
    {{ form_end(delete_form) }}
{% endblock %}
