{% extends 'base.html.twig' %}

{% block body %}
    <h1>Place</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ place.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ place.name }}</td>
            </tr>
            <tr>
                <th>Meals</th>
                <td>
                <ul>
                {% for meal in place.meals %}
                    <li>{{ meal.name }}</li>
                {% endfor %}
</ul>
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('place_edit', { 'id': place.id }) }}" class="btn btn-primary"><i class="glyphicon glyphicon-edit"></i> Edit</a>
    <a href="{{ path('place_index') }}" class="btn btn-default"><i class="glyphicon glyphicon-th-list"></i> Back to the list</a>
    {{ form_start(delete_form) }}
    <input type="submit" value="Delete" class="btn btn-danger">
    {{ form_end(delete_form) }}
{% endblock %}
