{% extends 'base.html.twig' %}

{% block body %}
    <div class="row row-right">
        <a href="{{ path('place_index') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-th-list"></i> Back to the list
        </a>
    </div>

    <h1>Place</h1>

    <table class="table table-striped">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ place.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ place.name }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ place.description }}</td>
        </tr>
        <tr>
            <th>City</th>
            <td>{{ place.city }}</td>
        </tr>
        <tr>
            <th>Street</th>
            <td>{{ place.street }}</td>
        </tr>
        <tr>
            <th>Zip Code</th>
            <td>{{ place.zipCode }}</td>
        </tr>
        <tr>
            <th>Country</th>
            <td>{{ place.country }}</td>
        </tr>
        <tr>
            <th>Phone</th>
            <td>{{ place.phone }}</td>
        </tr>
        <tr>
            <th>Mobile</th>
            <td>{{ place.mobile }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ place.email }}</td>
        </tr>
        <tr>
            <th>Website</th>
            <td>{{ place.website }}</td>
        </tr>
        <tr>
            <th>Facebook</th>
            <td>{{ place.facebook }}</td>
        </tr>
        <tr>
            <th>Meals</th>
            <td>
                <ul>
                    {% for meal in place.meals %}
                        <li>
                            {{ meal.name }}
                            {% if is_granted("ROLE_ADMIN") %}
                                <a href="{{ path('meal_delete', { 'place': place.id, 'meal': meal.id }) }}">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <th>Menus</th>
            <td>
                <ul>
                    {% for menu in place.menus %}
                        <li>
                            {{ menu.name }}
                            {% if is_granted("ROLE_ADMIN") %}
                                <a href="{{ path('menu_delete', { 'place': place.id, 'menu': menu.id }) }}">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </a>
                            {% endif %}
                            <ul>
                                {% for meal in menu.meals %}
                                    <li>{{ meal.name }}</li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

    {% if is_granted("ROLE_ADMIN") %}
        <a href="{{ path('place_edit', { 'place': place.id }) }}" class="btn btn-primary">
            <i class="glyphicon glyphicon-edit"></i> Edit
        </a>

        <a href="{{ path('place_meal_new', { 'place': place.id }) }}" class="btn btn-primary">
            <i class="glyphicon glyphicon-plus-sign"></i> New Meal
        </a>

        <a href="{{ path('place_menu_new', { 'place': place.id }) }}" class="btn btn-primary">
            <i class="glyphicon glyphicon-plus-sign"></i> New Menu
        </a>

        <a href="{{ path('place_delete', { 'place': place.id }) }}" class="btn btn-danger">Delete</a>
    {% endif %}
{% endblock %}
