{% extends 'base.html.twig' %}

{% block body %}
    {% if token is defined %}
        <h2>Voilà tout de même votre token </h2>
        <p class="tokenTroll">{{ tokenPath }}</p>
    {% endif %}
    <div class="row row-right">
        <a href="{{ path('place_index') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-th-list"></i> Retour à la liste
        </a>
    </div>

    <h1>Détails</h1>

    <table class="table table-striped">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ place.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ place.name }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ place.description }}</td>
        </tr>
        <tr>
            <th>Ville</th>
            <td>{{ place.city }}</td>
        </tr>
        <tr>
            <th>Rue</th>
            <td>{{ place.street }}</td>
        </tr>
        <tr>
            <th>Code postal</th>
            <td>{{ place.zipCode }}</td>
        </tr>
        <tr>
            <th>Pays</th>
            <td>{{ place.country }}</td>
        </tr>
        <tr>
            <th>Téléphone</th>
            <td>{{ place.phone }}</td>
        </tr>
        <tr>
            <th>Mobile</th>
            <td>{{ place.mobile }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ place.email }}</td>
        </tr>
        <tr>
            <th>Site web</th>
            <td>{{ place.website }}</td>
        </tr>
        <tr>
            <th>Facebook</th>
            <td>{{ place.facebook }}</td>
        </tr>
        <tr>
            <th>Plats</th>
            <td>
                <ul>
                    {% for meal in place.meals %}
                        <li>
                            {{ meal.name }} - {{ meal.price }} €
                            {% if is_granted("ROLE_ADMIN") %}
                                <a href="{{ path('meal_delete', { 'place': place.id, 'meal': meal.id }) }}">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <th>Menus</th>
            <td>
                <ul>
                    {% for menu in place.menus %}
                        <li>
                            {{ menu.name }}
                            {% if is_granted("ROLE_ADMIN") %}
                                <a href="{{ path('menu_delete', { 'place': place.id, 'menu': menu.id }) }}">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </a>
                            {% endif %}
                            <ul>
                                {% for meal in menu.meals %}
                                    <li>{{ meal.name }}</li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

    {% if is_granted("ROLE_ADMIN") %}
        <a href="{{ path('place_edit', { 'place': place.id }) }}" class="btn btn-primary">
            <i class="glyphicon glyphicon-edit"></i> Editer
        </a>

        <a href="{{ path('place_meal_new', { 'place': place.id }) }}" class="btn btn-primary">
            <i class="glyphicon glyphicon-plus-sign"></i> Nouveau plat
        </a>

        <a href="{{ path('place_menu_new', { 'place': place.id }) }}" class="btn btn-primary">
            <i class="glyphicon glyphicon-plus-sign"></i> Nouveau Menu
        </a>

        {{ form_start(delete_form, { 'attr': {'class': 'd-ib'} }) }}
        <input value="Delete" type="submit" class="btn btn-danger">
        {{ form_end(delete_form) }}
    {% endif %}

    <br>

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ form_start(formOrderGroup) }}
            <h3>Générer un jeton</h3>
            {{ form_widget(formOrderGroup) }}
            <input type="submit" class="btn btn-primary btn-test" value="Generate token bitch"/>
            <div class="tokenInfo"></div>
            <input type="hidden" value="{{ place.id }}" name="place">
        {{ form_end(formOrderGroup) }}
    {% endif %}

    <a href="{{ path('place_index') }}" class="btn btn-default"><i class="glyphicon glyphicon-th-list"></i> Retour à la liste</a>
{% endblock %}
